<!-- <div
  class="profile-container p-2 d-flex align-items-center justify-content-center flex-column"
>
  <div class="icon">
    <div class="icon-body">
      <mat-icon>person</mat-icon>
    </div>
  </div>
  <h3>User name</h3>
  <div>user details</div>
  <div><button mat-button >Sign Out</button></div>
</div> -->

<div class="contact-card">
  <div class="header">
    <div class="icon-body">
      <mat-icon>person</mat-icon>
    </div>
    <h3>Amanda Smith</h3>
    <span class="contact-status">In contacts</span>
  </div>
  <div class="actions">
   
   
  </div>
  <div class="contact-code">
  <div>
    <button>Sign out</button>
  </div>
  </div>
</div>

