@import "../../../../shared/styles/_variables.scss";
.mail-list-cell {
  height: 5.0rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    background-color: #f1f4fc;
    transform: translateY(-5px);  /* Move the div upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }&:hover .mail-list-cell-delete-icon {
    display: flex; /* Show the child div when the parent is hovered */
    align-items: center;
  }
  &-icon {
    &-container {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-body {
      width: 2.5rem;
      background-color: #e3e3e3;
      height: 2.5rem;
      border-radius: 50%;
      &-letter {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-body {
    width: 70%;
    &-title {
      font-weight: 700;
      color: $color-primary;
    }
    &-desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      color: grey;
      width: 80%;
    }
  }
  &-delete {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {
      display: none;
      color: grey;
    }
  }
}
