<div class="mail-list-cell d-flex w-100">
  <div class="mail-list-cell-icon-container">
    <div *ngIf="isSelectAllEnabled; else profileIcon">
      <mat-checkbox
        [checked]="isSelected"
        color="primary"
        class="example-margin"
      ></mat-checkbox>
    </div>
    <ng-template #profileIcon>
      <div  class="mail-list-cell-icon-body"  [style.background-color]="getLetterColor(getFirstLetter())">
        <div class="mail-list-cell-icon-body-letter">{{ getFirstLetter() }}</div>
      </div>
    </ng-template>
    <ng-template #profileIcon>
      <div class="mail-list-cell-icon-body" [style.background-color]="'M'">
        <div class="mail-list-cell-icon-body-letter">M</div>
      </div>
    </ng-template>
  </div>
  <div class="mail-list-cell-body d-flex flex-column justify-content-center">
    <div class="mail-list-cell-body-title d-flex justify-content-between">
      <span>{{ cellDetail["message"]["sender"]["emailAddress"]["address"] }}</span>
       
      <span>{{ getTime(cellDetail["message"]["sentDateTime"] + "Z") }}</span>
    </div>
    <div class="mail-list-cell-body-desc">
      {{ cellDetail["message"]["subject"] }}
    </div>
  </div>
  
</div>
