$color-primary: rgb(12, 148, 221);
$color-white: #fff;
$color-black: #000;
$color-light: #f3f3f3;
$color-gray-lighter: #8690a3;
$color-grey: #808080;
$color-dark-grey: #726b6b;
$color-blue: rgb(12, 148, 221);
$color-grey-darker: rgb(176, 176, 176);
$color-primary-lighter: #f5f9ff;
$color-secondary: rgb(209 206 206);
$color-light-grey: rgb(239, 230, 230);
