.main-container {
  width: 40rem;
  height: 30rem;
}
.header {
  font-weight: 700;
  font-size: 1.2rem;
}

.group-list-container,
.subGroup-list-container {
  .mdc-evolution-chip-set {
    background-color: #efefef;
    padding: 0.3rem;
    border-radius: 1.5rem;
  }

  .mat-mdc-standard-chip {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.subGroup-list-container {
  .mdc-evolution-chip-set {
    background-color: #efefef;
    padding: 0.3rem;
    border-radius: 1.5rem;
  }

  .mat-mdc-standard-chip {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.mat-mdc-menu-item {
  min-height: 2rem !important;
  height: 2rem !important;
} 

.mat-mdc-option.mdc-list-item{
  font-size: 0.85rem !important;
  height: 2.1rem !important;
  min-height: 2.1rem !important;
}
.subGroupContainer{
  height: 21rem;
}