<div
  class="login-container w-100 h-90 d-flex justify-content-center align-items-center"
>
  <div class="login-container__form h-60">
    <div class="signin-bg d-flex align-items-center justify-content-center h-100">
      <div class="d-flex w-70 h-100 flex-column align-items-center justify-content-evenly">
      
          <div class="py-3 login-container__form-title text-center">
            Welcome
          </div>
          <button
            mat-raised-button
            mat-button
            (click)="login()"
            class="primary-btn-full form-container-signin w-100"
          >
            Sign In with
            <span class="px-1"
              ><img
                class="microsoft-logo"
                src="assets/logos/microsoft-logo.svg"
            /></span>
          </button>
        
       
      </div>
    </div>
  </div>
</div>
