<div class="main-container d-flex flex-column w-100 h-100">
  <!-- <div class="top-bar-container w-100">top bar</div> -->
  <div class="text-center position-absolute top-50 start-50 z-1" *ngIf="isLoading">
    <div
      class="spinner-border"
      style="width: 3.5rem; height: 3.5rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div
    class="main-header px-4 w-100 d-flex justify-content-evenly align-items-center"
  >
    <!-- <div class="w-70 d-flex align-items-center "> -->
    <div class="w-20">
      <img
        class="w-50"
        src="../../../../../assets/images/NV-MAIL-LOGO.png"
        alt=""
      />
    </div>
    <form
      class="searchBar d-flex justify-content-center align-items-center w-60"
    >
      <mat-form-field class="w-50" appearance="outline">
        <input matInput placeholder="Search" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <div class="w-20 d-flex justify-content-end align-items-center">
      <div (click)="handleShowProfile()">
        <span class="px-1"> <img src="assets/icons/common/user.svg" /></span>
      </div>
    </div>
  </div>
  <div class="mail-container p-1 h-90 w-100 d-flex">
    <div class="w-20 h-100 py-2 px-1">
      <div class="py-1">
        <div
          class="mail-list-cell d-flex w-100 justify-content-end align-items-center px-3"
        >
          <div (click)="handleUserGroupSetting()">
            <span matTooltip="Edit Mail Preference" class="px-1">
              <img src="assets/icons/common/user_setting.svg"
            /></span>
          </div>
        </div>
      </div>

      <div class="py-1 h-90">
        <div class="w-100 h-100 mail-container-types dropdown">
          <form class="d-flex flex-column justify-content-center">
            <mat-form-field appearance="outline">
              <input
                type="text"
                placeholder="Group"
                matInput
                [formControl]="groupListControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredGroupOptions | async; track option) {
                <mat-option [value]="option">{{ option }} </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input
                type="text"
                placeholder="Sub Group"
                matInput
                [formControl]="subGroupListControl"
                [matAutocomplete]="auto1"
              />
              <mat-autocomplete #auto1="matAutocomplete">
                @for (option of filteredSubGroupOptions | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <div class="frequent-group-container">
            <mat-chip-set
              matTooltip="Frequent groups"
              class="example-chip"
              cdkDropList
              cdkDropListOrientation="horizontal"
            >
              @for (vegetable of frequentGroupList; track vegetable.name) {
              <mat-chip
                class="example-box"
                cdkDrag
                (removed)="remove(vegetable)"
                >{{ vegetable.name }}
                <button matChipRemove [attr.aria-label]="'remove ' + vegetable">
                  <mat-icon>cancel</mat-icon>
                </button></mat-chip
              >
              }
            </mat-chip-set>
          </div>
        </div>
      </div>
    </div>
    <div class="w-30 h-100 px-1 py-2 mail-container-list">
      <div class="py-1 pe-4 ps-2">
        <div
          class="mail-list-cell d-flex w-100 px-1 d-flex align-items-center justify-content-between"
        >
          <div>
            <mat-checkbox
              (change)="handleSelectAllCheckbox()"
              *ngIf="isSelectAllEnabled"
              color="primary"
              class="example-margin"
            ></mat-checkbox>
          </div>
          <div class="d-flex">
            <div
              class="px-1 d-flex align-items-center"
              (click)="handleSelectAll()"
            >
              <mat-icon matTooltip="Select">filter_none</mat-icon>
            </div>
            <div class="px-1 d-flex align-items-center">
              <mat-icon matTooltip="Filter" [matMenuTriggerFor]="afterMenu"
                >filter_list</mat-icon
              >
              <mat-menu #afterMenu="matMenu" xPosition="after">
                <button class="mail-filter-option-btn" mat-menu-item>
                  <span>
                    <img
                      class="mail-filter-option-icon"
                      src="assets/icons/common/flag.svg"
                  /></span>
                  <span class="px-2 mail-filter-option">Flagged</span>
                </button>
                <button class="mail-filter-option-btn" mat-menu-item>
                  <span>
                    <img
                      class="mail-filter-option-icon"
                      src="assets/icons/common/mail_attachment.svg"
                  /></span>
                  <span class="px-2 mail-filter-option">Has files</span>
                </button>
                <button class="mail-filter-option-btn" mat-menu-item>
                  <span>
                    <img
                      class="mail-filter-option-icon"
                      src="assets/icons/common/unread_mail.svg"
                  /></span>
                  <span class="px-2 mail-filter-option">Unread</span>
                </button>
              </mat-menu>
            </div>
            <div
              class="px-1 d-flex align-items-center"
              *ngIf="isAllMailSelected"
            >
              <span matTooltip="Delete Selected">
                <img
                  (click)="handleDeleteSelectedMail()"
                  src="assets/icons/common/delete.svg"
              /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-90 overflow-y-auto">
        <div
          class="py-1 px-2"
          *ngFor="let mail of mail_data"
          (click)="mailClicked(mail)"
        >
          <div [ngClass]="{ highlight: mail === selectedMail }">
            <app-mail-list-cell
              [cellDetail]="mail"
              [isSelectAllEnabled]="isSelectAllEnabled"
              [isSelected]="isAllMailSelected"
            ></app-mail-list-cell>
          </div>
        </div>
        <div
          class="py-1 px-2"
          *ngFor="let mail of mail_data"
          (click)="mailClicked(mail)"
        >
          <div [ngClass]="{ highlight: mail === selectedMail }">
            <app-mail-list-cell
              [cellDetail]="mail"
              [isSelectAllEnabled]="isSelectAllEnabled"
              [isSelected]="isAllMailSelected"
            ></app-mail-list-cell>
          </div>
        </div>
      </div>
    </div>
    <div class="w-50 h-100 mail-container-body">
      <div class="mail-body py-2 overflow-y-auto">
        <app-mail-body [selectedMail]="selectedMail"></app-mail-body>
        <!-- <div class="mail-thread-list-container">
          <div class="mail-thread-list-item d-flex">
            <div class="w-10">
              <div class="mail-thread-list-item-icon"></div>
            </div>
            <div
              class="d-flex w-90 px-2 flex-column mail-thread-list-item-desc"
            >
              <div class="mail-thread-list-item-desc-sender">Jithesh Kumar</div>
              <div
                class="w-100 d-flex justify-content-between mail-thread-list-item-desc-content"
              >
                <div class="mail-thread-list-item-desc-content-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam odit, cum animi maxime dolore tempore nulla, quo velit
                  voluptatum sequi corrupti similique? Ipsa quas rem placeat
                  harum provident alias id!
                </div>
                <div class="w-30">Thu 2024-12-05 17:31</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mail-thread-list-container">
          <div class="mail-thread-list-item d-flex">
            <div class="w-10">
              <div class="mail-thread-list-item-icon"></div>
            </div>
            <div
              class="d-flex w-90 px-2 flex-column mail-thread-list-item-desc"
            >
              <div class="mail-thread-list-item-desc-sender">Jithesh Kumar</div>
              <div
                class="w-100 d-flex justify-content-between mail-thread-list-item-desc-content"
              >
                <div class="mail-thread-list-item-desc-content-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam odit, cum animi maxime dolore tempore nulla, quo velit
                  voluptatum sequi corrupti similique? Ipsa quas rem placeat
                  harum provident alias id!
                </div>
                <div class="w-30">Thu 2024-12-05 17:31</div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
