@import "../../../../shared/styles/_variables.scss";
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  background-size: cover;
}

.background-tint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgb(2 29 142 / 47%);
  background-blend-mode: multiply;
}

.account-text {
  font-size: 0.7rem;
  &-signUp {
    font-weight: 700;
    cursor: pointer;
  }
}

.form-container-signup {
  background-color: #150958 !important;
  color: $color-white !important;
  font-weight: 600;
  height: 2.5rem;
  border-radius: 9px;
}

.grey-color {
  color: #635a5a;
}

.signin-bg {
  background-image: url("../../../../../assets/images/signin_bg.jpg"); /* Replace with your image path */
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensures the full image is visible without cropping */
}

.input_fields {
  height: 2.5rem !important;
}

.auth-container {
  &-left {
    position: relative;
    width: 55%;
    &-title-container {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &-info-title{
      font-size: 1.7rem;
      color: #fff;
      font-weight: 550;
    }
    &-info-desc{
      font-size: 1rem;
      color: #fff;
      font-weight: 400;
    }
  }
  &-right{
    background-image: url("../../../../../assets/images/auth-background.jpg"); /* Replace with your image path */
    position: relative;
   width: 45%;
   height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-logo{
      width: 10rem;
      height: 3rem;
    }
  }
}
